.example-stretched-tabs {
  max-width: 500px;
  margin: 0 auto;
}

.login-register {
  width: 100%;
  height: 100%;
  margin-top: 8%;
}

.example-container {
  display: flex;
  flex-direction: column;
  padding: 10px 28px;
}

.example-container > * {
  width: 100%;
}

.example-button-row {
  width: 100%;
  text-align: end;
}
